.title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 37px;
    line-height: 44px;
    margin-top: 63px;
}

.title, .hint {
    font-family: "Roboto";
    color: #333333
}

.hint {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 21px;
}

.categories {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 100px;
}

@media screen and (max-width: 480px) {
    .Box {
        width: 90% !important;
    }
    .title {
      font-size: 30px;  
    }
    .ButtonGroup {
        height: 400px;
        overflow: scroll;
        scrollbar-color: #333333 !important;
        scrollbar-width: thin;
        padding-right: 10px;
    }
}