body {
  background-color: rgb(212, 212, 212);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 840px !important;
  background-color: white;
  padding: 0 !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}